.leaflet-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.locationInput {
    overflow: hidden;
    position: absolute;
    top: 30px;
    z-index: 15;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.legend {
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    z-index: 15;
    padding: 10px;
}